<!-- dialog  -->

<h2 mat-dialog-title>Informació PO #: {{thisPO.reference}}</h2>
<mat-dialog-content class="mat-typography">

    <form class="flex bg-card shadow overflow-hidden" [formGroup]="updatePOForm">
        <div class="grid-cols-1">
            <h4><b>Info general</b></h4>
            <div class="grid grid-cols-8 gap-4">
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>SMP</mat-label>
                        <input matInput [formControlName]="'smp'">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>Nombre sitio</mat-label>
                        <input matInput [formControlName]="'siteName'">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>PO</mat-label>
                        <input matInput [formControlName]="'po'">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>Valor</mat-label>
                        <input matInput [formControlName]="'valorPo'">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>Escenario</mat-label>
                        <input matInput [formControlName]="'scenery'">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>Banda</mat-label>
                        <input matInput [formControlName]="'band'">
                    </mat-form-field>
                </div>
                <!-- <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>Líder</mat-label>
                        <input matInput [formControlName]="'lider'">
                    </mat-form-field>
                </div> -->
                <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto">
                        <mat-label>onAir</mat-label>
                        <input matInput [formControlName]="'onAir'">
                    </mat-form-field>
                </div>
                <!-- <div class="flex">
                    <mat-form-field [ngClass]="updatePOForm" class="flex-auto" appearance="fill">



                        <mat-label>Selecciona una fecha</mat-label>
                        <input matInput [formControlName]="'nosHw'">
                        <mat-hint>YYYY/MM/DD</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>


                    </mat-form-field>
                </div> -->
            </div>

            <div *ngIf="isRelease">
                <h4><b>Liberaciones</b></h4>
                <div class="form-grid" formArrayName="releases">
                    <div class="form-field" *ngFor="let thisRelease of getCtrl('releases',updatePOForm).controls;index as id" class="flex">
                        <div class="grid grid-cols-4 gap-4" [formGroupName]="id">
                            <mat-form-field>
                                <mat-label>Fecha</mat-label>
                                <input matInput formControlName='grDate'>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Fecha PPA</mat-label>
                                <input matInput formControlName='iaDate'>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>% Liberado</mat-label>
                                <input matInput formControlName='percent'>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label># SGR</mat-label>
                                <input matInput formControlName='sgrNumber'>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div *ngIf="isInvoice">
                    <h4><b>Facturación y pagos</b></h4>

                    <div class="form-grid" formArrayName="invoices">
                        <div class="form-field" *ngFor="let thisInvoice of getCtrl('invoices',updatePOForm).controls;index as id" class="flex">
                            <div class="grid grid-cols-10 gap-4" [formGroupName]="id">
                                <mat-form-field>
                                    <mat-label>Fecha</mat-label>
                                    <input matInput formControlName='date'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Factura</mat-label>
                                    <input matInput formControlName='invoice'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>% Facturado</mat-label>
                                    <input matInput formControlName='percentInvoice'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Subtotal</mat-label>
                                    <input matInput formControlName='subTotal'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>IVA</mat-label>
                                    <input matInput formControlName='iva'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>rtIva</mat-label>
                                    <input matInput formControlName='rtIva'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>RTF</mat-label>
                                    <input matInput formControlName='rtf'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Valor utilizado</mat-label>
                                    <input matInput formControlName='valorUtilizado'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Valor pagado</mat-label>

                                    <input matInput formControlName='totalPaid'>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Fecha pago</mat-label>
                                    <input matInput formControlName='datePay'>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="!isInvoice" class="flex flex-col flex-auto w-full items-center">
                    <fuse-alert [appearance]="'outline'" [dismissible]="true" dismissed="false" [name]="'dontRelease'" [type]="'warning'">
                        Esta PO no tiene facturación
                    </fuse-alert>
                </div>

            </div>
            <div *ngIf="!isRelease" class="flex flex-col flex-auto w-full items-center">
                <fuse-alert [appearance]="'outline'" [dismissible]="true" dismissed="false" [name]="'dontRelease'" [type]="'warning'">
                    Esta PO no tiene liberaciones
                </fuse-alert>
            </div>

        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="left">
    <button mat-button class="bg-indigo-600 text-white" (click)="updatePO()">
                    <span> Actualizar PO </span>
                </button>
    <button mat-button mat-dialog-close>Cancelar</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>


<!-- dialog  -->